# Ignore Weka-Datasets due to file size
*.arff

# Ignore compiled Java-Code
*.class

# Local folders of individuals
/kiel_gdynia
/Grafik

# Ignore Random Forests due to file size
/java/broker/src/sd/group03/broker/resources/brhh/global/RandomForest.model
/java/broker/src/sd/group03/broker/resources/kigd/global/RandomForest.model

