*.arff
/kiel_gdynia
/BrhvHH/Daten/Data_prepared_complete.csv

/BrhvHH/Daten/SubstepsDuringDataPreparation/DataSetWithDateTimeFeatures.csv
/BrhvHH/Daten/SubstepsDuringDataPreparation/CompleteDatabaseWithTripdurationSmaller3000Min.csv
/BrhvHH/Daten/SubstepsDuringDataPreparation/CondensedDataSetGroupByTripIDLatLong.csv
/BrhvHH/Daten/SubstepsDuringDataPreparation/Data_prepared_complete.csv


/KielGdynia/Daten/FinalePredictionDaten.csv
/KielGdynia/Daten/SubstepsDuringDataPreparation/CompleteDataSetAfterCleaning.csv
/KielGdynia/Daten/SubstepsDuringDataPreparation/DatasetWithTimeFeatures.csv
/KielGdynia/Daten/SubstepsDuringDataPreparation/TripDurationCleaned.csv
/KielGdynia/kiel_gdynia.csv
/KielGdynia/Daten/DatasetWithTimeFeatures.csv

/Grafik


/BrhvHH/Daten/FinalePredictionDaten.csv